[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
black = "==18.9b0"
isort = "*"
pytest = "*"
pytest-cov = "*"
aioresponses = "*"

[packages]
pandas = "*"
aiohttp = "*"
marshmallow = "==3.0.0rc4"

[requires]
python_version = "3.7"
