[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
black = "==18.9b0"
isort = "*"
pytest = "<5"
pytest-cov = "*"
pre-commit = "*"
tox-pyenv = "*"
twine = "*"
yolk3k = "*"
responses = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
marshmallow = "==3.0.0rc4"
cognite-sdk = "==1.*"

[requires]
python_version = "3.7"
